body {
    font-family: "Roboto", sans-serif;
}



header{
    position: sticky;
    top: 0;
}

nav {
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: wrap;
}

nav img{
    width: 100px;
    margin-left: 10px;
}

.vanish{
    display: none;
}

a{
    text-decoration: none;
    color: #191919;
}

nav a {
    text-decoration: none;
    color: #191919;
    margin-right: 20px;
}

nav #get-started {
    padding: 7px 15px;
    color: white;
    background-color: #191919;
    border-radius: 30px;
    margin-right: 0px;
}

#m-svg {
    display: none;
}

#curious {
    background-color: #ffc017;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 110px;
    border-bottom: 1px solid #191919;
}

#curious h1 {
    font-family: "Spectral", serif;
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 275px;
}

#curious p {
    margin-bottom: 30px;
    width: 300px;
}

#curious a{
    width: 92px;
    margin-bottom: 80px;
    padding: 7px 15px;
    color: white;
    background-color: #191919;
    border-radius: 30px;
}

#trending-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#trending-container-desktop{
    display: none;
}

.trend-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#trending {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#trending img{
    width: 25px;
    margin-right: 10px;
}

#trending span{
    font-size: 0.7em;
    font-weight: 500;
}

.trending-card{
    display: flex;
    align-items:center;
}

.trending-card span {
    font-size: 2em;
    font-weight: 700;
    color: #dbdbdb;
}

.trending-card img {
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
}

.trending-card p {
    font-size: 0.7em;
    font-weight: 600;
}

.news{
    padding-left: 57px;
    font-weight: 600;
    margin-bottom: 10px;
}

.news p{
    width: 280px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 120px;
}

.info p{
    font-size: 0.8em;
    color: #8d8d8d;
}

.trend {
    margin-bottom: 20px;
}

.little{
    font-size: 1em;
    color: #8d8d8d;
}

hr {
    color: #dbdbdb;
}

#category-container {
    padding: 20px;
}

#category-container h2{
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 0.7em;
    font-weight: 700;
}

#category{
    display: flex;
    flex-wrap: wrap;
}

.categoria {
    border: 1px solid #dbdbdb;
    color: #9b9b9b;
    padding: 10px;
    margin: 5px;
}

#linea {
    padding: 20px;
}

#linea hr {
    color: #dbdbdb;
}

#sides{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#sides a{
    color: #9b9b9b;
    margin: 10px;
}

#articoli{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.testo{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 70%;
}

.notizia{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.utente {
    display: flex;
    align-items: center;
}

.utente p{
    font-size: 0.7em;
    font-weight: 600;
}

.utente img{
    border-radius: 50%;
    width: 20px;
    margin-right: 10px;
}

.informazioni {
    display: flex;  
    align-items: center;
}

.testo h2{
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 0px;
    width: 420px;
}

.testo p{
    color: #8d8d8d;
}

.immagine{
    width: 30%;
}

.informazioni span {
    margin-left: 2px;
    margin-right: 2px;
}

.cat {
    background-color: #e6e6e6;
    border-radius: 30px;
    padding: 5px;
}



.share{
    width: 20px;
}

