@media screen and (min-width: 699px){
    .trend-row{
        justify-content: space-around;
    }

    header{
        z-index: 1;
    }

    nav{
        position: sticky;
        top: 0px;
    }

    .vanish{
        display: inline-block;
    }

    #curious{
        display: flex;
        padding-right: 0px;
    }



    #m-img{
        display: inline-block;
    }

    /* #m-svg {
        height: 350px;
        display: inline;
        position: absolute;
        bottom: 495px;
        right: -65px;
    } */

    
    
}